
<% include partials/header %>
<div class="container">
   
     <header class="jumbotron">
         
         <h2>Welcome to Auctionke.com bay!</h2>
             <p class="index-j">We auction Cars,Televisions,Fridges,phones,Woofers,Carpets,household Items etc..</p>
             

 
     </header>
   <div class="well">     
<h4><u>These are the Terms and Conditions that you have agreed to by Signing up to www.auctionke.com</u></h4>
<p>1.Refundable fee of Ksh.5,000 for bidding number.</p>
<p>2.Incase a client requests for a refund, an administration fee equivalent to 5% of Ksh. 5,000 will be charged.</p>
<p>3.A client is allowed to use the <em>refundable fee/bid fee</em> to pay for a product/item he/she has bid for and won.</p>
<p>4.If a client uses the bidding number fee to pay for a product/item, the administration fee of 5% will not be charged.</p>
<p>5.Bidding number fee - Money paid by a client so as to be able to bid. No bidding without a bidding number.</p>
<p>6.Administration fee (5% of the bidding number fee charged incase a client requests for a refund).</p>
<p>7.A warranty of 6 months is provided for all the electronic goods.</p>
<p>8.A delivery fee is chargeable according to the distance covered.</p>
  </div>
 </div>
 <% include partials/footer %>