<% include ./partials/header %> 
<div class="container">
      <header class="jumbotron">
         <h2>Welcome to Auctionke.com bay!</h2>
             <p class="index-j">We auction Cars,Televisions,Fridges,phones,Woofers,Carpets,household Items etc..</p>
              
     </header>
    <div class="row">
        <h3 class="auth" style="text-align: center" button class="btn btn-lg btn-primary btn-block">SIGN IN </button> </h3>
<h3 class="auth" style="text-align: center" button class="btn btn-lg btn-primary btn-block"  ><a href="/register">REGISTER</a></button></h3>
        <div style="width: 30%; margin: 25px auto;">
    <form action="/login" method="POST">
   <div class="form-group">
        <input class="form-control" type="text"  name="username" placeholder="username">
    </div>
    <div class="form-group">
        <input class="form-control" type="password"  name="password" placeholder="password">
    </div>
    <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
    </div>
   </form>
</div>

</div>
</div>

<% include ./partials/footer %> 
