<% include ./partials/header %> 
<div class="container">
      <header class="jumbotron">
          <h2>Welcome to Auctionke.com bay!</h2>
             <p class="index-j">We auction Cars,Televisions,Fridges,phones,Woofers,Carpets,household Items etc..</p>
              
         
     </header>
    <div class="row">
        <h1 style="text-align: center">TO REGISTER</h1>
          <h1 style="text-align: center">PLEASE CALL 0720450184</h1>  
      </div>
</div>

<script type="text/javascript" src="/javascript.js"></script>


<% include ./partials/footer %> 
